* {
    /*
    font-family: Consolas, monaco, monospace;
    */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.main {
    margin: 10px;
    padding: 10px;
}