{% extends 'base.html.twig' %}

{#{% block title %}{% endblock %}#}

{% block body %}
    <h1>Cities</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Postcode</th>
        </tr>
        </thead>
        {% for city in cities %}

            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.postcode }}</td>
                <td>
                    <button>Edit</button>
                    <button>Remove</button>
                </td>
            </tr>

        {% endfor %}
        <tbody>


        </tbody>
    </table>
{% endblock %}

